[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "xz"]
	path = xz
	url = https://git.tukaani.org/xz.git
[submodule "bzip2"]
	path = bzip2
	url = git://sourceware.org/git/bzip2.git
